
body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(rgba(0,0,0, 0.8) 0%,rgb(52, 72, 161) 75%,rgba(118,75,162,1) 100%);
    }
.navbar{
    display:flex;
    justify-content: center;
    background: none;
    padding: 0.5cap;
    }
h1{
    display: block;
    font-size: 6cap;
    text-align: center;
    padding-top: 0.5cap;
    padding-bottom: 0.5cap;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    background-color: rgba(64, 64, 64, 0.95);
    border-radius: 0.5cap;
}
.navbar ul{
    list-style-type: none ;
    background-color: rgba(64, 64, 64, 0.95);
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 2cap;
}
.navbar a{
    font-size: 1.75cap;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;

}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
.main p{
    margin-top: 10cap;
    margin-right: 40cap;
    margin-left: 40cap;
    color: white;
    text-align: center;
    align-content: center;
    background-color: rgba(64, 64, 64, 0.95);
    padding-top: 4cap;
    padding-bottom: 4cap;
    border-radius: 2cap;
    font-size: 1.85cap;
}
.logmenu {
    margin-top: 10cap;
    margin-left: 65cap;
    margin-right: 65cap;
    background-color: rgba(64, 64, 64, 0.95);
    display: block;
    justify-content: center;
    border-radius: 2cap;
}
.logmenu h3{
    text-align: center;
    color: white;
    font-size: 4.5cap;
    padding-bottom: 0.5cap;
}
.logform form{
    color: white;
    text-align: center;
}
.logform form input{
    margin: 1cap;
}
.logform button {
    padding-right: 7px;
    border-radius: 0.4cap;
    margin-bottom: 0.5cap;
    color: white;
    background-color: rgba(40, 40, 40, 0.95);
}
.logform p{
    font-size: 1.5cap;
}
.logform a{
    color: #c867f1;
    text-decoration-color: #c867f1;
}
.log_error {
    color: white;
}
.regmenu {
    margin-top: 10cap;
    margin-left: 65cap;
    margin-right: 65cap;
    background-color: rgba(64, 64, 64, 0.95);
    display: block;
    justify-content: center;
    border-radius: 2cap;
}
.regmenu h3{
    text-align: center;
    color: white;
    font-size: 4.5cap;
    padding-bottom: 0.5cap;
}
.regform form{
    color: white;
    text-align: center;
}
.regform input{
    margin: 1cap;
}
.regform button {
    padding-right: 7px;
    border-radius: 0.4cap;
    margin-bottom: 0.5cap;
    color: white;
    background-color: rgba(40, 40, 40, 0.95);
}
.regform p{
    font-size: 1.5cap;
}
.regform a {
    color: #c867f1;
    text-decoration-color: #c867f1;
}
.reg_error {
    color: white;
}