{% extends 'Base.html' %}
{% block title %} Финансы {% endblock %}
{% block main %}
    <div>
        <form class ="category_form", action="", method="post">
            {% csrf_token %}
            {{ form_cat }}
            <button type="submit" class = "btn_submit_category">Добавить</button>
        </form>>
    </div>>
    <div>
        <form class ="transaction_form", action="", method="post">
            {% csrf_token %}
            {{ form_tr }}
            <button type="submit" class = "btn_submit_transaction">Добавить</button>
        </form>>
    </div>>
{% endblock %}
