{% extends 'Base.html' %}
{% block title %} Финансы {% endblock %}
{% block main %}
    <div class = "finances_menu">
        <div class = "category_menu">
            <h3>Добавить категорию</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ form_cat }}
                <button type="submit" class = "btn_submit_category">Добавить</button>
            </form>
            <div class = "transaction_error">
                {{ form_error }}
            </div>
        </div>
        <div class = "transaction_menu">
            <h3>Добавить транзакцию</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ form_tr }}
                <button type="submit" class = "btn_submit_transaction">Добавить</button>
            </form>
            <div class = "transaction_error">
                {{ form_error }}
            </div>
        </div>
    </div>
{% endblock %}