{% extends 'Base.html' %}
{% block title %} Register {% endblock %}
{% block main %}
    <div class = "regmenu">
        <h3>Регистрация</h3>
        <div class = regform>
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="username" placeholder="Логин..." class="form-control">
                </div>
                <div class="input-group mb-2">
                    <input type="password" name="password1" placeholder="Пароль..." class="form-control" >
                </div>
                <div class="input-group mb-1">
                    <input type="password" name="password2" placeholder="Повторить пароль..." class="form-control" >
                </div>
                <button type="submit" class = "btn_submit_register">Зарегистрироваться</button>
                <p class="message">Аккаунт есть? <a href="{% url 'login' %}">Войти</a></p>
            </form>
        </div>
    </div>
{% endblock %}